<% if problems.count > 0 %>
  <div class="content">
    <h3 class="purple"><%= t :thare_are_problems %></h3>
    <% problems.each_with_index do |problem, index| %>
      <span class="purple"><%= index+1 %>.</span> <%= t problem.to_sym, scope: [:problems] %><br/>
    <% end %>
  <br/>
  </div>

<% end %>